* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  background-image: url("https://media.istockphoto.com/photos/stone-black-texture-background-dark-cement-wall-picture-id1318101781?b=1&k=20&m=1318101781&s=170667a&w=0&h=_8PGJeszlowAz6m76Qqsr0bGXOogeeCDC-IRrMejfEk=");
}

.btn {
  width: 100%;
  padding: 15px;
  background-color: rgb(57, 60, 65);
  border-radius: 16px;
  font-size: 18px;
  cursor: pointer;
  display: inline-block;
  border: 0;
  color: white;
}

.form {
  width: 600px;
  background-color: beige;
  padding: 30px;
  border-radius: 10px;
}

input {
  padding: 15px;
  width: 100%;
  margin-bottom: 8px;
  border-radius: 6px;
  border: none;
}

label {
  display: block;
  font-size: 24px;
}

.btn a {
  text-decoration: none;
  color: white;
}

.errMsg {
  color: red;
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline;
}

.err-msg-container {
  margin-top: 10px;
  margin-bottom: 10px;
}

.err-msg-container .err-msg-link {
  color: blue;
  text-decoration: none;
}
